- favorites = current_or_guest_user.favorite_destinations.favorites.destinations
%tr.destination
  %th{colspan: 3}
    = favorite_destination_toggle(destination, favorites, class: 'pull-left', style: 'margin-right: 7px;')
    %span.to to
    = destination

-#
  %h3.destination{ data: {destination: destination} }
    = favorite_destination_toggle(destination, favorites, class: 'pull-left', style: 'margin-right: 7px;')
    %span.to to
    = destination
