- predictions.sort_by!(&:estimated_arrival)
- next_prediction, then_prediction = predictions.first, predictions.second
%tr.prediction{ class: ('due' if due?(next_prediction)) }
  %td.line
    %span.line= line
  %td.next
    = link_to next_label_for(next_prediction), london_trip_path(next_prediction.trip_id), class: 'time' # do
  %td.then
    - if then_prediction
      = link_to then_label_for(then_prediction), london_trip_path(then_prediction.trip_id), class: 'time' #do
