- top_stop ||= nil
= link_to london_stop_path(stop.stop_id), class: 'list-group-item' do
  = stop.name || stop.stop_id
  %span.label.label-danger= stop.indicator

  - if stop == top_stop
    %span.label.label-info Top!
