- cache do
  %h1 Find a stop

  = render partial: 'search_form'

  %p.text-muted
    Enter the five-digit stop code, shown on the bus stop marker, to get real-time bus arrivals!

- unless signed_in?
  = render partial: 'sign_in_form'

- if signed_in?
  = render partial: 'stops', object: TopStopsForUserQuery.new(current_user), locals: {title: 'Top stops for you', top_stop: @predicted_stop}