:javascript
  mopub_ad_unit = "1e3ec9f605fd45f78ae0e409f68e717c";
  mopub_ad_width = 320; // optional
  mopub_ad_height = 50; // optional
  mopub_keywords = "london"; // optional
%script{src: "http://ads.mopub.com/js/client/mopub.js"}