div#banner-ad {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray-lighter;
  border-top: 2px solid $gray-light;
  z-index: $zindex-navbar;
  
  iframe {
    display: block;
    height:  50px;
    width:   320px;
    border:  0px;
    margin:  0px auto;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 728px) {
  div#banner-ad {
    iframe {
      height:  90px;
      width:   728px;
    }
  }
}

