/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= # require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "theme";
@import "bootstrap";
@import "forms";
@import "ads";
@import "brands";

body {
  padding-top: $navbar-height+5px !important;
  padding-bottom: $navbar-height+5px !important;
}

// General purpose
div.flash-flash, div.flash-info {
  @extend .alert;
  @extend .alert-info;
}

div.flash-notice, div.flash-success {
  @extend .alert;
  @extend .alert-success;
}

div.flash-alert, div.flash-warning {
  @extend .alert;
  @extend .alert-warning;
}

div.flash-error, div.flash-danger {
  @extend .alert;
  @extend .alert-danger;
}

h1 {
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: $font-size-h3;

  span.stop-indicator {
    @extend .label;
    @extend .label-danger;
    font-size: $font-size-h5;
    vertical-align: middle;
  }
}

a.favorite {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-warning;
}

a.not-favorite {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-default;
  background-color: $gray-lighter;
}

span.indicator {
  @extend .label;
  @extend .label-danger;
  vertical-align: middle;
}

p.message { padding: 8px; }
p.priority-1, p.priority-2 { @extend .bg-danger; }
p.priority-3, p.priority-4 { @extend .bg-warning; }
p.priority-5, p.priority-6 { @extend .bg-info; }

div.predictions {
  text-align: center;
  
  .line { @extend .col-xs-5; }
  .next { @extend .col-xs-3; }
  .then { @extend .col-xs-4; }

  .header {
    @extend .row;
    background-color: $gray-lighter;
    
    h2 {
      font-size: $font-size-h4;
      font-color: $gray;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  
  h3.destination {
    text-align: left;
    font-size: $font-size-h4;
    font-color: $gray-dark;
    padding-bottom: 4px;
    border-bottom: 2px solid $gray-light;
    // background-color: $gray-light;
    
    span.to {
      font-color: $gray-light;
      font-size: $font-size-h5;
    }
  }
  
  .prediction {
    @extend .row;
    margin-top:    1em;
    margin-bottom: 1em;

    .line {
      text-align: center;

      .line-name {
        @extend .badge;
        background-color: $brand-info;
        font-size: 45px;
        line-height: 45px;
        min-width: 100px;
      }
    }
    
    .next {
      font-size: 45px;
      line-height: 45px;

      .time {
        a { color: $text-color; }
      }
    }
    
    .then {

      .time {
        @extend .badge;
        background-color: $gray-light;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
  
  .prediction.due .next .time {
    @extend .badge;
    font-size: 30px;
    line-height: 45px;
    background-color: $brand-warning;

    a { color: $label-color; }
  }

}

h1 {
  span.route {
    @extend .label;
    @extend .label-info;
    vertical-align: middle;
  }
  
  span.to {
    font-size: $font-size-h4;
    color: $gray-light;
  }
  
  span.indicator {
    @extend .label;
    @extend .label-danger;
    font-size: $font-size-h5;
    vertical-align: middle;
  }
}

table.predictions {
  th.next, td.next {
    text-align: center;
  }
  
  td.stop {
    line-height: 20px;
  }
  
  td.next {
    font-size: 20px;
  }
}