/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= # require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "theme";
@import "bootstrap";
@import "forms";
@import "ads";
@import "brands";
@import "autorefresh_button";

$prediction-font-size: 45px;
$prediction-then-font-size: 35px;

body {
  padding-top: $navbar-height+5px;
  padding-bottom: 50px+5px;

  @media (min-width: 728px) {
    padding-bottom: 90px+5px;
  }
}

.repaint { display: block; }

// General purpose
div.flash-flash, div.flash-info {
  @extend .alert;
  @extend .alert-info;
}

div.flash-notice, div.flash-success {
  @extend .alert;
  @extend .alert-success;
}

div.flash-alert, div.flash-warning {
  @extend .alert;
  @extend .alert-warning;
}

div.flash-error, div.flash-danger {
  @extend .alert;
  @extend .alert-danger;
}

h1 {
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: $font-size-h3;

  span.stop-indicator {
    @extend .label;
    @extend .label-danger;
    font-size: $font-size-h5;
    vertical-align: middle;
  }
}

a.favorite {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-warning;
}

a.not-favorite {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-default;
  background-color: $gray;
}

span.indicator {
  @extend .label;
  @extend .label-danger;
  vertical-align: middle;
}

p.message { padding: 8px; }
p.priority-1, p.priority-2 { @extend .bg-danger; }
p.priority-3, p.priority-4 { @extend .bg-warning; }
p.priority-5, p.priority-6 { @extend .bg-info; }

h1 {
  span.route {
    @extend .label;
    @extend .label-info;
    vertical-align: middle;
  }
  
  span.to {
    font-size: $font-size-h4;
    color: $gray-light;
  }
  
  span.indicator {
    @extend .label;
    @extend .label-danger;
    font-size: $font-size-h5;
    vertical-align: middle;
  }
}

table.predictions {
  th.next, td.next, th.then, td.then {
    text-align: center;
  }
  
  td.stop {
    line-height: 20px;
  }
  
  td.next {
    font-size: 20px;
  }
}

table.predictions.stop {

  tr.destination {
    th {
      text-align: left;
      font-size: $font-size-h4;
      // font-color: $gray-dark;
      // padding-bottom: 4px;
      border-top: 0px solid transparent;
      border-bottom: 2px solid $gray-light;
      padding-top: 18px;
      // background-color: $gray-light;
      
      span.to {
        font-color: $gray-light;
        font-size: $font-size-h5;
      }
    }
  }
  
  tr.prediction {
    border: 0px solid transparent;
    td { border: 0px solid transparent; }
  }
  
  td.line {
    // text-align: center;
  }
  
  span.line {
    @extend .badge;
    background-color: $brand-info;
    font-size:   $prediction-font-size;
    line-height: $prediction-font-size;
    min-width:   100px;
  }
  
  td.next a.time {
    font-size:   $prediction-font-size;
    line-height: $prediction-font-size;
    color: $text-color;
  }
  
  tr.prediction.due td.next a.time {
    @extend .badge;
    font-size:   28px;
    line-height: $prediction-font-size;
    background-color: $brand-warning;
  }
  
  td.then a.time {
    font-size:   $prediction-then-font-size;
    line-height: $prediction-font-size;
    color: $gray;
  }
}

// Search
div.search.small {
  @extend .row;
  @extend .well;
  @extend .well-sm;
  
  .input-group {
    @extend .input-group-sm;
  }
  
  button {
    @extend .btn;
    @extend .btn-sm;
    // @extend .btn-block;
  }
  
  button.find {
    @extend .btn-sm;
  }
  
  button[type=submit] {
    @extend .btn-primary;
  }
  
  form.search.stop {
    // @extend .col-xs-9;
  }
  
  form.search.locate {
    // @extend .col-xs-3;
  }
  
}

div.suggestion {
  @extend .container;
  @extend .bg-warning;
  
  p {
    @extend .text-warning;
    margin: 4px 0;
    padding: 6px 0;
    line-height: 30px;

    a.link {
      font-weight: bold;
      color: $brand-warning;
    }

    button.btn, a.btn {
      @extend .btn-sm;
    }
    
    a.btn-go, button.btn-go {
      @extend .btn-warning;
      
      &:not(.with-counter) span.counter-ui {
        @extend .hidden;
      }
    }

    a.btn-no, button.btn-no {
      margin-left: 4px;
      @extend .btn-default;
    }
  }  
}