- cache do
  %link{ rel: "apple-touch-icon-precomposed", href: image_path('favicon-152.png') }
  %link{ rel: "msapplication-TileColor",      href: '##93C54B' }
  %link{ rel: "msapplication-TileImage",      href: image_path('favicon-144.png') }
