- cache current_user do
  %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{style: 'margin-top: 5px; margin-bottom: 5px;', "aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          = photo_tag_for current_user
        %a.navbar-brand{:href => london_stops_path} MyNextBus
        %p.navbar-text London

      #navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to 'Find a stop', london_stops_path
          
          - if signed_in?
            %li
              = link_to 'Settings', current_user
            %li
              = link_to 'Sign out', destroy_user_session_path

