- cache do
  #map-modal.modal.fade
    .modal-dialog.modal-lg.map-modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"}= icon(:close)
            %span.sr-only Close
          %h4.modal-title Map
        .modal-body
          #map

  :coffeescript
    map = null
    $('#map-modal').on 'shown.bs.modal', ->
      map = new Application.Map() unless map
      google.maps.event.trigger(map.map, "resize")
    
